<h2>Mis heroes Favoritos</h2>

<ul class= "heroes">
  <li *ngFor="let hero of heroes"
  [class.selected]="hero === selectedHero"
    (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span>{{hero.name}}
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>{{selectedHero.name | uppercase}} detalles</h2>
  <div><span>id: </span>{{selectedHero.id}}</div>


<div>
  <label for = "hero-name"> Heroe Nombre: </label>
  <input id="hero-name" [(ngModel)]= "selectedHero.name" placelder="nombre">
</div>

<div>
  <label for = "hero-edad"> Heroe Edad: </label>
  <input id="hero-edad" [(ngModel)]= "selectedHero.edad" placelder="edad">
</div>

<div>
  <label for = "hero-tipo"> Tipo de Poder: </label>
  <input id="hero-tipo" [(ngModel)]= "selectedHero.tipo" placelder="tipo">
</div>

<div>
  <label for = "hero-identidad"> Identidad: </label>
  <input id="hero-identitadad" [(ngModel)]= "selectedHero.identidad" placelder="identidad">
</div>

<div>
  <label for = "hero-universo"> Universo: </label>
  <input id="hero-universo" [(ngModel)]= "selectedHero.universo" placelder="universo">
</div>
</div>
